<app-header></app-header>

<mat-toolbar color="primary">

    <mat-toolbar-row>

        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>

        <h1>Angular Material Sidenav</h1>

    </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav opened="true" mode="side">

        <mat-nav-list>
            <a mat-list-item>Home</a>
            <a mat-list-item>Menu</a>
            <a mat-list-item>Contact</a>
            <a mat-list-item>Sign up</a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

        <div style="height: 62.5vh;">
            <router-outlet></router-outlet>
            <app-chart-area></app-chart-area>
        </div>

    </mat-sidenav-content>

    <mat-sidenav-container></mat-sidenav-container>

</mat-sidenav-container>

<!-- <app-chart-area></app-chart-area> -->

<app-footer></app-footer>